<!DOCTYPE html>
<html>
<head>
	<title>Add user</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form method="POST">
		<label>Username: <input type="text" name="username" placeholder="username"></label><br/>
		<label>GID: <input type="number" name="gid" placeholder="000"></label><br/>
		<label>UID: <input type="number" name="uid" placeholder="000"></label><br/>
		<label>Home directory: <input type="text" name="home" placeholder="/home/users/username"></label><br/>
		<label>Shell: <input type="text" name="shell" placeholder="/bin/bash"></label><br/>
		<label>Password: <input type="password" name="password1" placeholder="**********"></label><br/>
		<label>Confirm password: <input type="password" name="password2" placeholder="**********"></label><br/>
		<input type="submit" value="Enviar">
	</form>
</body>
</html>