<!DOCTYPE html>
<html>
<head>
	<title>Create object - pythonldapadmin</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h1>Create user</h1>
	<form method="POST" action="/add_user">
		{% if request.args.get('parent') %}<input type="hidden" name="parent" value="{{ request.args.get('parent') }}"/>{% endif %}
		<label>Username: <input type="text" name="username" placeholder="username"></label><br/>
		<label>GID: <input type="number" name="gid" placeholder="000"></label><br/>
		<label>UID: <input type="number" name="uid" placeholder="000"></label><br/>
		<label>Home directory: <input type="text" name="home" placeholder="/home/users/username"></label><br/>
		<label>Shell: <input type="text" name="shell" placeholder="/bin/bash"></label><br/>
		<label>Password: <input type="password" name="password1" placeholder="**********"></label><br/>
		<label>Confirm password: <input type="password" name="password2" placeholder="**********"></label><br/>
		<input type="submit" value="Enviar">
	</form>

	<h1>Create group</h1>
	<form method="POST" action="/add_group">
		{% if request.args.get('parent') %}<input type="hidden" name="parent" value="{{ request.args.get('parent') }}"/>{% endif %}
		<label>CN: <input type="text" name="cn" placeholder="group"></label><br/>
		<label>GID: <input type="number" name="gid" placeholder="000"></label><br/>
		<input type="submit" value="Enviar">
	</form>

	<h1>Create OU</h1>
	<form method="POST" action="/add_ou">
		{% if request.args.get('parent') %}<input type="hidden" name="parent" value="{{ request.args.get('parent') }}"/>{% endif %}
		<label>OU name: <input type="text" name="ou" placeholder="ou"></label><br/>
		<input type="submit" value="Enviar">
	</form>

	<br/><a href="/">Inicio</a>
</body>
</html>